body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

button {
  margin-top: 4px;
}
.Map {
  top: 0;
  bottom: 0;
  
}
.Dropdown-root {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 0;
  margin-top: 0;
}
