.legend {
    position: absolute;
    bottom: 30px;
    left: 330px;
    z-index: 900;
    padding: 6px 8px;
    font-size: 1em;
    /* background: rgba(255, 255, 255, 0.8); */
    background: whitesmoke;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: #001323;
    margin: 0 0 10px 0;
}

.legend span {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 4px 0;
    border: solid 1.5px;
}

.legend label {
    font-size: 1.1em;
}

.legend label:after {
    content: '';
    display: block;
    clear: both;
}